img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.btn {
    background-color: white;
    border: 1px solid #ccc;
    color: #696969;
    padding: 0.5rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.btn--delete {
    background-color: #f00;
}

.btn--update {
    background-color: #a52ee6;
}

.btn--details {
    background-color: #80764d;
}

.btn--delete,
.btn--update,
.btn--details {
    color: white;
}

.btn--options {
    display: flex;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    list-style: none;
    margin: 0;
    padding: 0;
}

.cards__item,
.card__content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 1;
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.card:hover .card__image {
    filter: contrast(100%);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.card__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    max-width: 500px;
}

.card__image::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.card__title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}


@media (min-width: 40rem) {
    .card__image::before {
        padding-top: 66.6%;
    }

    .btn--options {
        flex-direction: row;
    }
}