* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
}

header {
    img.logo {
        width: 20vw;
        height: 15vh;
    }

    nav {
        text-align: center;

        ul {
            list-style: none;

            li {
                padding: 0.2rem;
            }

            a {
                text-decoration: none;
                font-size: small;
            }

            a:hover {
                background-color: antiquewhite;
            }
        }
    }
}

main {
    .headline {
        h1 {
            span {
                color: blue;
            }

            font-size: clamp(1.5rem, 2.5vw, 4rem);
        }

        img {
            width: clamp(20%, 15vw, 200px);
            height: 25vh;
        }
    }

    .middle-section {
        .sections {
            section {
                margin-bottom: 1rem;

                h2 {
                    background-color: red;
                    color: white;
                    padding: 0.25rem;
                }

                p::first-letter {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    /* padding: 1rem; */
                }

                figure {
                    text-align: center;

                    img {
                        width: 100%;
                        height: 30vh;
                    }
                }

                table {
                    border-collapse: collapse;

                    .table-title {
                        background-color: brown;
                        color: white;

                    }

                    th,
                    td {
                        padding: 0.25rem;
                        border: 1px red solid;
                    }
                }

            }
        }
    }
}